body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f2f0f0;
}

/* Navigation Bar */

#home {
  background-color: #131313;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  box-shadow: 0 3px 10px gray;
  display: flex; /* Display items in a row */
  justify-content: space-between; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.topdiv {
  display: flex; /* Display items in a row */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.topmenu {
  text-decoration: none;
  color: #e8e5e5;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 10px;
  margin-bottom: 0;
}

.topmenu:hover {
  height: 50px;
  background-color: #ccc;
  font-size: 22px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  color: #131313;
}


.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 2cm;
  color: #e8e5e5;
}

.profile_name span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_name:hover span{
  color: #C0C0C0;
  font-size: 25px;
  transition: 0.2s ease-in-out;
}
.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left;
}
/* Used in the About Me sections */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}

.intro {
  margin-top: 50px;
}

.intro h1 {
  text-align: left;
  font-size: 65px;
  margin-left: 0;
  margin-top: 90px;
  color: #2C2C2C;
}

#about-me p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #333333;
  margin-top: -1cm;
}

.profile_image {
  margin-top: 80px;
  width: 500px; 
  height: 400px;

}

.resume {
  font-size: 20px;
  color:#2C2C2C;
}

.resume-popup {
  display: none;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 50%; /* Adjusted to 50% */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  height: 100px;
  box-shadow: 0 3px 10px gray;
}



.resume:hover{
  color: blue;
  font-size: 23px;
  transition: 1.5s ease-out;
}


/* Skills */
#skills{
  display: block;
  margin-left: 50px;
}

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

section h1{
  margin-left: 50px;
}
.skill {
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 50px;
  align-items: center;
}

.skills h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 




/* Certificates */

.all-certificates {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section h1 {
  margin-left: 50px;
}

#certificates {
  display: block
}

.certificate {
  border: 1px solid gray;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.certificate img {
  height: 50px;
  align-items: center;
}

.certificate h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.certificate-display {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate-display img {
  max-width: 100%;
  height: auto;
}


/* Projects */
.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 1.5cm;
}

.projectLink {
  display: block; /* Ensure the link occupies the full width of the container */
  font-size: 25px; /* Match the font size to the previous h3 style */
  margin-left: 30px; /* Apply left margin to match previous h3 style */
  text-decoration: underline;
  color: inherit;
}

.projectLink:hover {
  font-size: 30px;
  color: darkblue;
  transition: 1s ease-in-out;
  text-decoration: underline;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.project-card p {
  margin-left: 30px;
}
.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

section#contact {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: transparent; /* Transparent background */
  padding: 30px;
  border: none; /* Remove border */
  border-radius: 12px; /* Increased radius for a softer look */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); /* Two layers of shadow for depth */
  max-width: 600px;
  margin: 50px auto;
  transition: transform 2s ease-in-out; /* Smooth transition for hover effect */
}

section#contact:hover {
  transform: translateY(-10px); /* Lift the card slightly on hover for a 3D effect */
}

.flex_center {
  display: flex;
  flex-direction: column;     /* Stack child elements vertically */
  align-items: center;        /* Center align items horizontally */
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 90%;
  background-color: transparent;
  padding: 12px; /* Increased padding for a more substantial feel */
  margin: 8px 0; /* Slightly increased margin for better spacing */
  border-radius: 8px; /* Softened corners */
  border: 1px solid gray; /* Lighter border color for a subtle contrast */
  transition: border-color 0.3s ease-in-out; /* Smooth transition for focus effect */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #2C2C2C;
}

form#button{
  display: flex;
  flex-direction: column;     /* Stack child elements vertically */
  align-items: center; 
}

#button {
  margin-left: auto;          /* Push the button to the right within its container */
  margin-right: auto;         /* Push the button to the left within its container */
  display: block;             /* Make the button a block-level element */
  padding: 12px 24px; 
  background-color: transparent;
  color: #2C2C2C;
  border: 1px solid gray;
  border-color: gray;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#button:hover {
  background-color: #2C2C2C; 
  color: #C0C0C0;
}

@media (max-width: 768px) {
  .profile_image {
    width: 200px;
  }
}


footer {
  width: 100%;
  padding-left: 20px;
}

footer p {
  color: #131313;
  margin-bottom: 0;
}